In [1]:
import pandas as pd

In [2]:
%store -r trump_tweets

In [3]:
%store -r biden_tweets

In [4]:
%store -r election2020_tweets

In [5]:
all_tweets = pd.concat([trump_tweets, biden_tweets, election2020_tweets], ignore_index = True )

In [7]:
#check how many tweets are duplicated
all_tweets.duplicated(subset = ['tweet']).value_counts()

False    51915
True      5154
dtype: int64

**The total number of collected tweets is 51915+5154 = 57069**

In [8]:
#delete identical tweets
all_tweets.drop_duplicates('tweet','first', inplace = True)

/var/folders/qm/j2nyw_6j7272_3cq86kpw75r0000gn/T/ipykernel_961/1800528475.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop_duplicates except for the argument 'subset' will be keyword-only
  all_tweets.drop_duplicates('tweet','first', inplace = True)

In [9]:
len(all_tweets)

51915

In [10]:
from nltk.corpus import stopwords

In [11]:
#remove stopwords from 's_token' column
stops = set(stopwords.words("english")) #stopwords

In [12]:
def RemoveStopwords(x):
    a = []
    for word in x:
        if word not in stops:
            a.append(word)
            
    return a

In [13]:

all_tweets['token'] = all_tweets['s_token'].map(lambda x: RemoveStopwords(x))
#w for w in corpus if not w in stops

In [18]:
all_tweets.head()

,index,date,tweet,language,user_id_str,username,docs,lemmatization,s_token,token
0,0.0,2020-10-24 00:59:59,chikooslim i was thinking that since it was t...,en,18491914,slattfri,"( , chikooslim, i, was, thinking, that, since,...",chikooslim I be think that since it be the d...,"[chikooslim, I, be, think, that, since, it, be...","[chikooslim, I, think, since, daughter, refuse..."
1,1.0,2020-10-24 00:59:59,he s been saying that for four years alllies...,en,46384399,francesmiddlet2,"(he, s, been, saying, that, for, four, years, ...",he s be say that for four year alllie tru...,"[he, s, be, say, that, for, four, year, alllie...","[say, four, year, alllie, trumplie, time, narc..."
2,2.0,2020-10-24 00:59:59,incredibly thought provoking article make sur...,en,2902130034,mfly1971,"(incredibly, thought, provoking, article, , m...",incredibly think provoke article make sure y...,"[incredibly, think, provoke, article, make, su...","[incredibly, think, provoke, article, make, su..."
3,3.0,2020-10-24 00:59:59,diadexxus tugrik it was but that s not sayi...,en,15608869,Ryu_Raccoon,"( , diadexxus, , tugrik, it, was, , but, tha...",diadexxus tugrik it be but that s not sa...,"[diadexxus, tugrik, it, be, but, that, s, not,...","[diadexxus, tugrik, say, much, hard, get, bad,..."
4,4.0,2020-10-24 00:59:59,don lemon meltdown over black trump support ...,en,1216233063115395072,MackmanAce,"(don, lemon, meltdown, over, black, trump, sup...",don lemon meltdown over black trump support ...,"[don, lemon, meltdown, over, black, trump, sup...","[lemon, meltdown, black, trump, support, via, ..."

In [85]:
%store all_tweets

Stored 'all_tweets' (DataFrame)